# Python
TV-backend/venv/
TV-backend/__pycache__/
TV-backend/**/__pycache__/
TV-backend/.env
TV-backend/data/
TV-backend/ml/model.pkl
*.pyc
*.pyo

# Node
TV-frontend/node_modules/
TV-frontend/build/
.vscode/
*.csv
*.geojson
