# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/data/
backend/ml/model.pkl

# React
frontend/node_modules/
frontend/build/

# Data files (too large)
*.csv
*.geojson